.charts-container{
  /* display: flex;
  flex-wrap: wrap; */

  max-width: 90%;
  margin: 0 auto;
}

.chart-container{
  margin: 2.5rem auto;
  padding: 1rem;
  /* max-width: 850px; */
  min-width: 250px;
  border-radius: 8px;
  background-color: var(--secondary-colour); 
  /* box-shadow: 0.1px 0.1px 4px #333; */
  /* max-width: 90%; */
}

.chart-title{
  margin-bottom: 0.5rem;
}

.global-total{
  grid-area: globalTotal;
}

.global-daily{
  grid-area: globalDaily;
}

.chart-container.pie-chart{
  max-width: 750px;
  grid-area: globalPercent;
}

.per-capita{
  grid-area: perCapitaConfirmed;
}

.country-daily{
  grid-area: country-daily;
}

.tooltip{
  background: var(--primary-colour);
  padding: 0.5rem;
  border-radius: 4px;
  box-shadow: 0px 1px 6px #222;
}

.charts-container .spinner-container{
  height: 70vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-container{
  text-align: center;
}

@media (min-width: 768px) {
  .charts-container{
    max-width: 90%;
  }

  .chart-container{
    margin: 2.5rem 0;
  }
}

@media (min-width: 1200px) {
  .charts-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
    "globalDaily globalDaily globalDaily globalDaily"
    "globalTotal globalTotal globalTotal globalPercent"
    "country-daily country-daily country-daily country-daily";
    /* max-width: 90%; */
  }

  .chart-container:nth-of-type(1){
    margin-right: 3rem;
  }
}