.wrapper{
  max-width: 90%;
  margin: 0 auto;
}

.region-container{
  margin: 3rem 0;
  padding: 0 2rem;
  /* border: 1px solid grey; */
  border-radius: 12px;
  background-color: var(--secondary-colour);
  box-shadow: 0px 2px 6px hsl(0, 5%, 7%);
  display: flex;
  flex-direction: column;
}

.capsules-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1.5rem 0;
}

.selection,
.toggle-options{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.selection h1{
  margin-right: 2rem;
}

.selection .divider {
  margin: 0 0.5rem;
}

.cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0.75rem 0 0;
}

.cards .stat-container{
  min-width: 250px;
  /* margin-right: 2rem; */
}


@media (max-width: 714px) {
  .active-selection-section,
  .active-selection-section .selection h1 {
      text-align: center;
      margin: 0 auto;
  }
  .cards{
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .cards .stat-container {
    margin-right: 0;
  }
}