.stat-container{
    /* border: 1px solid black; */
    border-radius: 6px;
    /* box-shadow: 0 12px 24px 0 hsl(220, 15%, 88%), 0 3px 9px 0 hsl(220, 15%, 94%); */
    min-width: 250px;
}

.stat-container div{
    padding: 1.25rem;
}

.stat-container h2{
    margin-bottom: 1rem;
}

.stat-container:nth-of-type(1){
    /* background-color: #CFE4FF; */
    color: #CFE4FF;
}

.stat-container:nth-of-type(2){
    /* background-color: #B2FFCE; */
    color: #B2FFCE;
}

.stat-container:nth-of-type(3){
    /* background-color: #FFFACF; */
    color: #FFFACF;
}

.stat-container:nth-of-type(4){
    /* background-color: #CBB2FF; */
    color: #CBB2FF;
}

.stat-container:nth-of-type(5){
    /* background-color: #FFCFCF; */
    color: #FFCFCF;
}

.stat-container{
    background-color: #385388;
}
