.stat-container{
    /* border: 1px solid black; */
    border-radius: 6px;
    /* box-shadow: 0 12px 24px 0 hsl(220, 15%, 88%), 0 3px 9px 0 hsl(220, 15%, 94%); */
    min-width: 250px;
    margin-right: 2rem;
}

.stat-container div{
    padding: 1rem;
}

.stat-container h2{
    margin-bottom: 1rem;
}

.stat-container:nth-of-type(1){
    color: #6EADFF;
}

.stat-container:nth-of-type(2){
    color: #74FFA7;
}

.stat-container:nth-of-type(3){
    color: #FFF072;
}

.stat-container:nth-of-type(4){
    color: #DFBFFF;
}

.stat-container:nth-of-type(5){
    color: #FF6060;
}

.stat-container{
    background-color: var(--primary-colour);
}
