.capsule-container{
    border: none;
    border-radius: 26px;
    min-width: 100px;
    cursor: pointer;
    margin: 0.5rem 0; 
    margin-right: 2rem;
}

.capsule-container:hover{
    transition-duration: 200ms;
    color: #FFF;
    background-color: hsla(194, 66%, 53%, 0.9);
    box-shadow: 0px 2px 6px hsl(0, 5%, 7%);
}

.capsule-content{
    padding: 0.55rem 1rem;
    text-align: center;
}

.capsule-container.active{
    /* background-color: #E63946; */
    background-color: var(--accent-colour);
    color: #FFF;
}

@media (max-width: 702px) {
    .capsule-container{
        margin-right: 1rem;
    }
}