.capsule-container{
    border: none;
    border-radius: 26px;
    min-width: 100px;
    cursor: pointer;
    margin-right: 2rem;
}

.capsule-container:hover{
    transition-duration: 200ms;
    color: #FFF;
    background-color: #e07f88;
}

.capsule-content{
    padding: 0.55rem 1rem;
    text-align: center;
}

.active{
    background-color: #E63946;
    color: #FFF;
}