header{
    width: 100%;
    background-color: var(--secondary-colour);
    color: white;
}

.navbar-container{
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0.4rem 0;
}
.navbar-container .left-side{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navbar-container .left-side img.logo{
    width: 124px;
    /* margin-right: 2rem; */
    margin-top: 0.2rem;
}

.navbar-container .left-side *{
    margin-right: 1.5rem;
    font-size: 1.2rem;
}
.navbar-container .left-side h3:hover{
    cursor: pointer;
    color: var(--accent-colour)
}

.navbar-container .right-side{
    display: flex;
    flex-direction: row;
}
.navbar-container .right-side p{
    margin-right: 2rem;
}

.coffee-button{
    background-color: transparent;
    border: none;
    /* margin-right: 1rem; */
    cursor: pointer;
}
.coffee-img{
    height: 40px;
    width: 150px;
}

nav a.active{
    color: var(--accent-colour);
}
nav a:hover{
    color: var(--accent-colour);
}