footer{
    width: 100%;
    background-color: #1D3557;
    padding: 2.5rem;
    color: white;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
}

.footer-content{
    width: 90%;
    display: flex;
    justify-content: space-between;
}