footer{
    width: 100%;
    background-color: var(--secondary-colour);
    padding: 1rem;
    color: white;
}

.footer-content{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.social-media-links{
    display: flex;
    flex-direction: row;
    margin: 1rem 0 0;
}

.social-media-links > * {
    margin: 0 0.5rem;
}

.footer-content a:hover,
.social-media-links > a:hover{
    cursor: pointer;
    color: var(--accent-colour);
}

.footer-container .sources{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.footer-container .sources p{
    margin: 0 0.25rem;
}