footer{
    width: 100%;
    background-color: #1D3557;
    padding: 2rem;
    color: white;
    /* position:absolute;
    left:0;
    bottom:0;
    right:0; */
}

.footer-content{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.social-media-links{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    margin: 1rem 0 0;
}

.social-media-links > * {
    margin: 0 0.5rem;
}

.footer-content p:hover,
.social-media-links > *:hover{
    cursor: pointer;
    color: var(--primary-colour);
}