tbody.MuiTableBody-root >:nth-of-type(1n)
{
    background-color: var(--secondary-colour);
}

tbody.MuiTableBody-root >:nth-of-type(2n)
{
    background-color: var(--tertiary-colour);
}

.table-container{
    max-width: '100%';
}

.spinner-container{
    margin: 5rem auto;
    text-align: center;
    width: 100%;
}
/* .MuiPaper-root.MuiPaper-elevation2.MuiPaper-rounded {
    background-color: transparent;
    box-shadow: none;
} */

.flag{
    font-size: 21px !important;
    margin-right: 0.3rem;
}

span.MuiTableSortLabel-root.MuiTableSortLabel-active,
svg.MuiSvgIcon-root.MuiTableSortLabel-icon{
    color: #DDD !important;
  }

span.MuiTableSortLabel-root:hover,
svg.MuiSvgIcon-root.MuiTableSortLabel-icon:hover{
    color: #DDD !important;
  }
/* 
td.MuiTableCell-root.MuiTableCell-body:nth-of-type(1){
    color: #FFF;
    padding-left: 0.3rem;

}
td.MuiTableCell-root.MuiTableCell-body:nth-of-type(1) .MuiSvgIcon-root:hover{
    cursor: pointer;
    color: #FFFF00 !important;
} */

td.MuiTableCell-root.MuiTableCell-body:nth-of-type(1){
    color: #FFF !important;
}

td.MuiTableCell-root.MuiTableCell-body:nth-of-type(2){
    color: #6EADFF !important;
}

td.MuiTableCell-root.MuiTableCell-body:nth-of-type(3){
    color: #6EADFF !important;
}

td.MuiTableCell-root.MuiTableCell-body:nth-of-type(4){
    color: #74FFA7 !important;
}

td.MuiTableCell-root.MuiTableCell-body:nth-of-type(5){
    color: #FFF072 !important;
}

td.MuiTableCell-root.MuiTableCell-body:nth-of-type(6){
    color: #bb76ff !important;
}

td.MuiTableCell-root.MuiTableCell-body:nth-of-type(7){
    color: #FF6060 !important;
}

td.MuiTableCell-root.MuiTableCell-body:nth-of-type(8){
    color: #FF6060 !important;
}