*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  /* --primary-colour: #0f3460;
  --secondary-colour: #1d2a50;
  --tertiary-colour: #334C77; */
  --primary-colour: #202326;
  --secondary-colour: #24272b;
  --tertiary-colour: #334C77;
  --accent-colour: #E94560;
}

html {
  color: white;
}

body {
  /* background-color: #1a1e2e; */
  background-color: #1F2124;
}

a {
  color: #FFF;
  text-decoration: none;
}