*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --primary-colour: #385388;
  --secondary-colour: #E1E8FF;
  --tertiary-colour: #D6D9FF;
  --accent-colour: #E63946;
  --bg-colour: #e3ebff;

}